<%= form_with model: book do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, size: 50, required: true %>
  <%= form.label :author %>
  <%= form.text_field :author, size: 50, required: true %>
  <%= form.label :publication_year %>
  <%= form.text_field :publication_year, required: true, pattern: '\d\d\d\d', placeholder: 'yyyy', minlength: 4, maxlength: 4 %>
  <%= form.label :isbn %>
  <%= form.text_field :isbn, required: true %>

  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
