<%= form_with(model: review) do |form| %>
  <%= form.label :rating %>
  <%= form.select :rating, [ ['*****', 1], ['****', 2], ['***', 3], ['**', 2], ['*',1] ].collect { |r| [ r[0], r[1]] } %>
  <%= form.label :content %>
  <%= form.text_area(:content, size: '50x10') %>
  <%= form.hidden_field :book_id, value: @book.id %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
